<!DOCTYPE html>

<html>
	<head>
		<meta content="width=device-width, inital-scale=1.0"/>
		<link rel="stylesheet" href="static/main.css"/>
	</head>
	
	<body id="main">
		<div id="set-height"></div>
		
		<p id="time"></p>
		
		<video id="video" tabindex="0" autobuffer preload controls>
			<source src="static/Clutter House0001-1520.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
		</video>
		
		<!--div id="buffer" height="9999" width="100%" style="margin-top:9999px">hello world</div-->
		<img src="static/download.jpeg" id="banner" />
		<script src="static/scroll2.js"></script>
	</body>
</html>
